html,
body {
  min-width: 320px;
}

body {
  background: #f4f7f5;
  margin: 0;
}

* { box-sizing: border-box; }

.mat-icon {
  font-family: 'Material Icons';
}

html.light-theme body {
  background: #f8fafc;
}

html.dark-theme body {
  background: #0f172a;
}
